$cardTitleColor: #000000b2;
$primaryWhite: #fff;
$sidebarHoverColor: #1b59f8;
$sidebarHoverBgColor: #1b59f81a;
$primaryRed: #ff3e13;
$primaryGreen: #1fe08f;
$primarybgColor: #f9f9f9;
$progressBarOrange: linear-gradient(143.13deg, #ffbf1a 5.36%, #ff4080 94.64%);
$progreeBarGreen: linear-gradient(270deg, #2fea9b 15.5%, #7fdd53 85.5%);

$tablet: 768px;
$desktop: 1024px;
$desktop-large: 1440px;
